.cart {
  text-align: center;
  margin: 10px 6px;
  border: 2px solid lightgray;
  padding: 14px;
  border-radius: 5px;
}

.cart p {
  margin-top: 5px;
}
.cart-total {
  text-align: left;
  margin-left: 20px;
}

.cart-price {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
